.full{
  width: max-content;
  height: max-content;
  margin: auto;
}
.main {
  width: fit-content;
  border: solid;
}
.logo {
  width: 20rem;
  display: inline-block;
}
.logoDiv {
  display: inline-block;
}
.tax {
  color: blue;
  text-align: right;
}
.address {
  width: fit-content;
  display: inline-block;
  margin-left: 10rem;
  position: relative;
  bottom: 4.2rem;
}
.brand {
  font-size: 1.5rem;
  position: relative;
  left: 5.5rem;
  bottom: 2rem;
}
.content {
  display: inline-block;
  text-align: left;
}
.content2 {
  display: inline-block;
  margin-left: 30rem;
}
.content3 {
  display: inline-block;
  margin-left: 23rem;
}
.content4 {
  display: inline-block;
  margin-left: 48rem;
}
.content5 {
  display: inline-block;
}
.content6{
  display: inline-block;
  margin-left: 15rem;
}
.content8{
  display: inline-block;
  margin-left: 4.5rem;
}
.content7{
  display: inline-block;
  margin-left: 14rem;
}

.contentDiv {
  display: block;
  height: min-content;
  padding: 0;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.mainContent{
  border: solid;
  border-right: none;
  border-left: none;
}
.vl {
  border-left: 3px solid black;
  height: 253px;
  position: absolute;
  left: 51rem;
  bottom: 5.6rem;
}
.info2{
  border-bottom: solid;
  border-right: none;
  border-left: none;
}
.bottom{
  text-align: center;
}